<div class="duck-info">
    <h1><%= duck['name'] %></h1>

    <h3>Spotted at <%= duck['location_spotted'] %></h3>

    <h3>number of likes: <%= duck['likes_count']%></h3>

    <img src="<%= duck['image_url']%>" alt="Picture of a duck" class="show-duck">



    <% if logged_in? && current_user.id == duck['user_id']%>
        <a href="/ducks/<%= duck['id'] %>/edit">Edit your duck</a>
        <form action="/ducks" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="duck_id" value="<%= duck['id'] %>">
        <button>delete</button>
        </form>

    <% end %>

    <% if logged_in? && not_liked?(current_user.id, duck['id'])%>
        <form action="/like" method="post">
        <input type="hidden" name="duck_id" value="<%= duck['id']%>">
        <input type="hidden" name="user_id" value="<%= current_user.id%>">
        <button>Like</button>
        </form>
    <% end %>

    <% if logged_in? && liked?(current_user.id, duck['id'])%>
        <form action="/unlike" method="post">
        <input type="hidden" name="duck_id" value="<%= duck['id']%>">
        <input type="hidden" name="user_id" value="<%= current_user.id%>">
        <button>Unlike</button>
        </form>
    <%end%>
    <% if logged_in? %>
        <form action="/comment" method="post">
        <input type="text" name="content" placeholder="Type up to 255 characters here!">
        <input type="hidden" name="duck_id" value="<%= duck['id']%>">
        <input type="hidden" name="user_id" value="<%= current_user.id%>">
        <button>submit comment</button>
        </form>
    <% end %>
    <h5>comments (<%= duck['comments_count']%>)</h5>
    <div class="comments">
        <% comments.each do |comment| %>
            <p class="comment">
                <%= comment['content']%>
                <footer class="comment-footer">
                    posted by <%= find_user_email(comment['user_id'])%>
                </footer>
            </p>
        <% end %>
    </div>
</div>